name: Release

on:
  push:
  pull_request:

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      flags: ""
    steps:
    #   - name: Set snapshot flag for non-tag pushes
    #     if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
    #     run: echo "flags=--snapshot" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4
        # with:
        #   fetch-depth: 0
            
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.21"
          cache: true

      - name: Install dependencies
        run: go mod download

      # - name: Run tests
      #   run: |
      #     go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
      #     go vet ./...

    #   - name: Upload coverage
    #     uses: codecov/codecov-action@v4
    #     with:
    #       file: coverage.txt
    #       token: ${{ secrets.CODECOV_TOKEN }}

    #   - name: Run GoReleaser
    #     uses: goreleaser/goreleaser-action@v6
    #     with:
    #       distribution: goreleaser
    #       version: latest
    #       args: release --clean ${{ env.flags }}
    #     env:
    #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
